@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
html {
    scroll-behavior: smooth;
  }
img{
    max-width: 100%;
    height: auto;
}

.columing{
    display: grid;
    grid-template-columns: 1fr;
}

body{
    background-image: linear-gradient(to bottom, white, grey);
    color: black;
    margin: 0%;
    font-family: 'Zen Dots', cursive;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .floydr{
    max-width: 50%;
    margin: 0 10em;
}
main{
    max-width: 90%;
    margin: 0 auto;
}

nav{
    text-align: center;
    background-color: lightblue;
}

nav a{
    background-color: white;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
}

li{
    list-style: none;
}

h1{
    text-align: center;
}

.scroll-container{
    
    scroll-behavior: smooth;
}

@media screen and (min-width: 1070px){
    .columing{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}